a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
#Main{
  background-color: lavender;
  width: 100vw;
}
#navbar{
  background-color: rgb(255, 255, 255);
  width: 100vw;

}

/* Search */

#search div{
  width: 100%;
  text-align: center;
}
.button {
  box-shadow: 0 2px 4px darkorchid !important;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
  
  transition: all 0.2s ease;
}
.button:active { 
  box-shadow: 0 0 2px darkorchid !important;
  transform: translateY(2px);
}
#randomBtn {
  width: 90%;
}

/* Selected card */
  
#selected {
  width: 92%;
  margin-left: 4%;
}
#selectedCardName{
  font-size: 200%;
  text-align: center;
}
#selectedCardImg {
  border-radius: 10px;
  height: 100%;
  max-width: 350px;
  margin: auto;
}

/* Card Instance */
.cardLine {
  padding: 0;
  cursor: pointer;
}

/* Deck */
.v-list-item--density-compact.v-list-item--one-line {
  min-height: 24px !important;
  min-width:50%!important;
  padding-inline-start: 4px!important;
  padding-inline-end: 4px!important;
  align-items: left !important;
}
.v-list-item--density-compact{
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}
.v-col.deckList{
  padding-left : 0px;
  padding-right: 0px;
}
.deckList {
  width:50%;
}
#commander{
  width : 100% !important;
  justify-self: center !important;
}

/* Mulligan */

#mulligan {

}
#mulliganCards {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vw;
  overflow: auto;
}
.mCard {
  width: 14%;
  margin-bottom: 2vw;
  position: relative;
  float: left;
  display: inline-block;
}

#navbar {
  overflow: auto;
}

#navbar #signinBtn, #signoutBtn, #changeBtn{
  float: right;
  margin-right: 2vw;
}

#navbar #email{
  display: inline-block; 
  vertical-align: middle; 
  margin-left: 20px; 
  padding-top: 20px; 
}

#list v-list-item{
  padding: 10;
}

#commanderSelect{
  width: 90%;
  border-style: dotted;
  margin-left: 5%;

}

